<section>
  <div>
    <a href="{{ add_path }}" class="{{ attributes.button.class }}"> {{ button_text.add }}</a>
  </div>
  <table>
    <tr>
      {% for name in table %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.status }}</td>
        <td>
          <div>
            <a href="{{ user.delete_path }}"
               class="{{ attributes.button.class }}"> {{ button_text.delete }} </a>
            <a href="{{ user.update_path }}"
               class="{{ attributes.button.class }}"> {{ button_text.edit }} </a>
          </div>
      </tr>
    {% endfor %}
  </table>
</section>
